@import "@/styles/layout.scss";

.headerContainer {
  @include flex-row(space-between, center);
  width: 100%;
  padding: 30px;
  position: relative;
  border-bottom: 1px solid #bcbcbc;

  nav {
    @include flex-row(center, center);
    gap: 20px;

    div {
      font-size: 14px;
      cursor: pointer;
    }
  }
  button {
    font-size: 16px;
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }
}
